.lista {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0 1rem;
}

.lista table {
  background-color: var(--blue-400);
  border: 0;
  border-radius: 6px;
}

.lista table,
th,
td {  
  text-align: center;
  border: 1px solid var(--gray-300);
  border-collapse: collapse;
  font-size: 1.1em;
}


.lista a {
  background-color: var(--blue-400);
  border: 0;
  cursor: pointer;
  color: var(--black);
  transition: backgroudncolor 0.2s;  
  text-decoration: none;
}

.lista a[id=editar]:hover {
  color: var(--green-300);
}

.lista a[id=deletar]:hover {
  color: var(--red-500);
}